<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>アカウント一覧</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script type="javascript/text" th:src="@{/js/accountList.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
	<script>
		$('#deleteAlert').on('show.bs.modal', function (event) {
			let button = $(event.relatedTarget); //モーダルを呼び出すときに使われたボタンを取得
			let recipient = button.data('whatever'); //data-whatever の値を取得

			//Ajaxの処理はここに

			let modal = $(this);  //モーダルを取得
			modal.find('.modal-footer input#deleteUserId').val(recipient); //inputタグにも表示
		})
	</script>
	<div class="container-fluid">
		<h1>アカウント一覧</h1>
		<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}" th:text="${errorMessage}" />
		<form method="get" th:action="@{/sample/menu}">
			<button type="submit" class="btn btn-primary" style="margin:20px 0px;">
				<div class="mx-2">
					メニューへ戻る
				</div>
			</button>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ユーザID</th>
					<th scope="col">ユーザ名</th>
					<th scope="col">管理者権限</th>
					<th scope="col" />
					<th scope="col" />
				</tr>
			</thead>
			<tbody>
				<tr>
					<form method="post" th:action="@{/createAccount}">
						<td>
							<input type="text" class="form-control" id="userId" name="userId">
						</td>
						<td>
							<input type="password" class="form-control" id="password" name="password">
						</td>
						<td>
							<select id="adminFlg" class="form-control">
								<option value="0" selected>なし</option>
								<option value="1">あり</option>
							</select>
						</td>
						<td>
							<form method="post" th:action="@{/createAccount}">
								<button type="submit" class="btn btn-primary">
									<div class="mx-2">
										作成
									</div>
								</button>
							</form>
						</td>
					</form>
				</tr>
				<th:block th:each="user : ${userList}">
					<tr>
						<td th:text="${user.userId}" />
						<td th:text="${user.userName}" />
						<td th:if="${user.adminFlg} == 1" th:text="あり" />
						<td th:if="${user.adminFlg} != 1" th:text="なし" />
						<td>
							<form method="post" th:action="@{/goEditAccount}">
								<button type="submit" class="btn btn-primary">
									<div class="mx-2">
										編集
									</div>
								</button>
								<input type="hidden" th:id="editUserId" th:name="editUserId" th:value="${user.userId}">
							</form>
						</td>
						<td>
							<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#deleteAlert" data-whatever="${user.userId}">
								<div class="mx-2">
									削除
								</div>
							</button>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>

		<!-- ボタン・リンククリック後に表示される画面の内容 -->
		<div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">削除確認画面</h4>
					</div>
					<div class="modal-body">
						<label>アカウントを削除しますか？</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
						<form method="post" th:action="@{/deleteAccount}">
							<button type="submit" class="btn btn-danger">削除</button>
							<input type="hidden" id="deleteUserId" name="deleteUserId">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>