<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>アカウント編集</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>

<body>

	<div class="container-fluid">
		<h1>アカウント編集</h1>
		<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}" th:text="${errorMessage}" />
		<div class="alert alert-success" role="alert" th:if="${successMessage != null}" th:text="${successMessage}" />
		<div class='btn-toolbar' role="toolbar" style="margin:20px 0px;">
			<form method="get" th:action="@{/sample/menu}">
				<div class="btn-group mr-3" role="group">
					<button type="submit" class="btn btn-primary">
						<div class="mx-2">
							メニューへ戻る
						</div>
					</button>
				</div>
			</form>
			<form method="get" th:action="@{/sample/accountList}">
				<div class="btn-group mr-3" role="group">
					<button type="submit" class="btn btn-primary">
						<div class="mx-2">
							アカウント一覧へ戻る
						</div>
					</button>
				</div>
			</form>
		</div>
		<div>
			<hr>
			<h2>アカウント情報変更</h2>
			<form method="post" th:action="@{/updateAccount}">
				<div class="form-group">
					<label for="userId">ユーザID</label>
					<input type="text" class="form-control" id="userId" name="userId" th:value="${user.userId}" readonly="readonly">
				</div>
				<div class="form-group">
					<label for="userName">ユーザ名</label>
					<input type="text" class="form-control" id="userName" name="userName" th:value="${user.userName}">
				</div>
				<div class="form-group">
					<label for="adminFlg">管理者権限</label>
					<select id="adminFlg" name="adminFlg" class="form-control">
						<option value="0" th:selected="${user.adminFlg == 0}">なし</option>
						<option value="1" th:selected="${user.adminFlg == 1}">あり</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">
					<div class="mx-2">
						更新
					</div>
				</button>
			</form>
		</div>

		<div>
			<hr>
			<h2>パスワード初期化</h2>
			<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#resetPasswordAlert">
				<div class="mx-2">
					初期化
				</div>
			</button>
		</div>
	</div>

	<!-- ボタン・リンククリック後に表示される画面の内容 -->
	<div class="modal fade" id="resetPasswordAlert" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">パスワード初期化確認画面</h4>
				</div>
				<div class="modal-body">
					<label>パスワードを初期化しますか？</label>
					<label>※初期化するとパスワードはIDと同一となります。</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					<form method="post" th:action="@{/resetPassWord}">
						<button type="submit" class="btn btn-primary">初期化</button>
						<input type="hidden" id="resetPasswordUserId" name="resetPasswordUserId" th:value="${user.userId}">
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>