<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ログイン</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<form method="post" th:action="@{/login}">
		<div class="container-fluid">
			<h1>ログイン</h1>
			<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}" th:text="${errorMessage}" />
			<div>
				<div class="form-group">
					<label for="userId">ID</label>
					<input type="text" class="form-control" id="userId" name="userId">
				</div>
				<div class="form-group">
					<label for="password">PASS</label>
					<input type="password" class="form-control" id="password" name="password">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">
				<div class="mx-2">
					ログイン
				</div>
			</button>
		</div>
	</form>
</body>

</html>