<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>メニュー</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<div class="container-fluid">
		<h1>メニュー</h1>
		<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}" th:text="${errorMessage}" />
		<div th:if="${user.adminFlg == 1}">
			<hr>
			<h2>管理者メニュー</h2>
			<form method="post" th:action="@{/goAccountList}">
				<button type="submit" class="btn btn-primary">
					<div class="mx-2">
						アカウント一覧
					</div>
				</button>
			</form>
		</div>
		<div>
			<hr>
			<h2>一般メニュー</h2>
			<div class='btn-toolbar' role="toolbar" style="margin:20px 0px;">
				<div class="btn-group mr-3" role="group">
					<button type="submit" class="btn btn-primary">
						<div class="mx-2">
							機能1
						</div>
					</button>
				</div>
				<form method="post" th:action="@{/goPersonalSetting}">
					<div class="btn-group mr-3" role="group">
						<button type="submit" class="btn btn-primary">
							<div class="mx-2">
								個人設定
							</div>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>