.fixed-menu-body {margin-top: 0px;}

.fixed-menu {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: fixed;
	background-color: #FFFFFF;
}

.main {
	padding-top: 200px; 
	padding-bottom: 150px; 
	margin: 0px;
	overflow-y: scroll;
}

.fixed-menu {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: fixed;
	background-color: #FFFFFF;
}

.footer_area {
  position: fixed; /* 固定 */
  bottom: 10px; /* 一番下に表示 */
  width: 90%;
  background-color: #FFFFFF;
}